# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

# Local settings
.env
.env.*

# Pytest
.cache/

# VS Code
.vscode/

# MyPy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Docker
*.pid
*.seed
*.pid.lock

# macOS
.DS_Store

# Node (if you have a React frontend in the same repo)
node_modules/
dist/
build/

# Pycharm
.idea/

